.section {
    scroll-snap-type:  y mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
    position: relative;
}

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --black : #000000;
}